Import relevant libraries.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn import metrics
plt.style.use('ggplot')
pd.set_option('display.max_columns', 200)
from scipy import stats

Importing the necessary dataset, in this case the dataset concerned with Country Togo.

In [2]:
url='https://raw.githubusercontent.com/Esmael-Mohammed/tenx-Week0/refs/heads/main/notebooks/data/togo-dapaong_qc.csv'

In [5]:
data_frame=pd.read_csv(url)

Brief description about the dataset. This includes the shape, head and tail, data types and a general overview of the dataset. Starting from the shape of the data i am going to proceed respectively.

In [6]:
# Understand the shape of the distribution.
data_frame.shape

(525600, 19)

In [7]:
# Overview of the variables.
data_frame.head

<bound method NDFrame.head of                Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH   WS  WSgust  \
0       2021-10-25 00:01 -1.3  0.0  0.0   0.0   0.0  24.8  94.5  0.9     1.1
1       2021-10-25 00:02 -1.3  0.0  0.0   0.0   0.0  24.8  94.4  1.1     1.6
2       2021-10-25 00:03 -1.3  0.0  0.0   0.0   0.0  24.8  94.4  1.2     1.4
3       2021-10-25 00:04 -1.2  0.0  0.0   0.0   0.0  24.8  94.3  1.2     1.6
4       2021-10-25 00:05 -1.2  0.0  0.0   0.0   0.0  24.8  94.0  1.3     1.6
...                  ...  ...  ...  ...   ...   ...   ...   ...  ...     ...
525595  2022-10-24 23:56 -0.8  0.0  0.0   0.0   0.0  25.2  53.8  0.0     0.0
525596  2022-10-24 23:57 -0.9  0.0  0.0   0.0   0.0  25.3  53.5  0.0     0.0
525597  2022-10-24 23:58 -1.0  0.0  0.0   0.0   0.0  25.3  53.4  0.0     0.0
525598  2022-10-24 23:59 -1.1  0.0  0.0   0.0   0.0  25.4  53.5  0.0     0.0
525599  2022-10-25 00:00 -1.2  0.0  0.0   0.0   0.0  25.4  52.3  0.0     0.0

        WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  TModB  \
0           0.4  227.6      1.1  977         0            0.0   24.7   24.4
1           0.4  229.3      0.7  977         0            0.0   24.7   24.4
2           0.3  228.5      2.9  977         0            0.0   24.7   24.4
3           0.3  229.1      4.6  977         0            0.0   24.7   24.4
4           0.4  227.5      1.6  977         0            0.0   24.7   24.4
...         ...    ...      ...  ...       ...            ...    ...    ...
525595      0.0    0.0      0.0  977         0            0.0   24.3   24.0
525596      0.0    0.0      0.0  977         0            0.0   24.3   24.0
525597      0.0    0.0      0.0  977         0            0.0   24.2   23.9
525598      0.0    0.0      0.0  977         0            0.0   24.1   23.8
525599      0.0    0.0      0.0  977         0            0.0   24.1   23.8

        Comments
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
525595       NaN
525596       NaN
525597       NaN
525598       NaN
525599       NaN

[525600 rows x 19 columns]>

In [8]:
# List of each column in the dataset.
data_frame.columns

Index(['Timestamp', 'GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 'WS',
       'WSgust', 'WSstdev', 'WD', 'WDstdev', 'BP', 'Cleaning', 'Precipitation',
       'TModA', 'TModB', 'Comments'],
      dtype='object')

In [9]:
# View of the data types of each column.
data_frame.dtypes

Timestamp         object
GHI              float64
DNI              float64
DHI              float64
ModA             float64
ModB             float64
Tamb             float64
RH               float64
WS               float64
WSgust           float64
WSstdev          float64
WD               float64
WDstdev          float64
BP                 int64
Cleaning           int64
Precipitation    float64
TModA            float64
TModB            float64
Comments         float64
dtype: object

In [10]:
# A general description of the dataset.
data_frame.describe

<bound method NDFrame.describe of                Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH   WS  WSgust  \
0       2021-10-25 00:01 -1.3  0.0  0.0   0.0   0.0  24.8  94.5  0.9     1.1
1       2021-10-25 00:02 -1.3  0.0  0.0   0.0   0.0  24.8  94.4  1.1     1.6
2       2021-10-25 00:03 -1.3  0.0  0.0   0.0   0.0  24.8  94.4  1.2     1.4
3       2021-10-25 00:04 -1.2  0.0  0.0   0.0   0.0  24.8  94.3  1.2     1.6
4       2021-10-25 00:05 -1.2  0.0  0.0   0.0   0.0  24.8  94.0  1.3     1.6
...                  ...  ...  ...  ...   ...   ...   ...   ...  ...     ...
525595  2022-10-24 23:56 -0.8  0.0  0.0   0.0   0.0  25.2  53.8  0.0     0.0
525596  2022-10-24 23:57 -0.9  0.0  0.0   0.0   0.0  25.3  53.5  0.0     0.0
525597  2022-10-24 23:58 -1.0  0.0  0.0   0.0   0.0  25.3  53.4  0.0     0.0
525598  2022-10-24 23:59 -1.1  0.0  0.0   0.0   0.0  25.4  53.5  0.0     0.0
525599  2022-10-25 00:00 -1.2  0.0  0.0   0.0   0.0  25.4  52.3  0.0     0.0

        WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  TModB  \
0           0.4  227.6      1.1  977         0            0.0   24.7   24.4
1           0.4  229.3      0.7  977         0            0.0   24.7   24.4
2           0.3  228.5      2.9  977         0            0.0   24.7   24.4
3           0.3  229.1      4.6  977         0            0.0   24.7   24.4
4           0.4  227.5      1.6  977         0            0.0   24.7   24.4
...         ...    ...      ...  ...       ...            ...    ...    ...
525595      0.0    0.0      0.0  977         0            0.0   24.3   24.0
525596      0.0    0.0      0.0  977         0            0.0   24.3   24.0
525597      0.0    0.0      0.0  977         0            0.0   24.2   23.9
525598      0.0    0.0      0.0  977         0            0.0   24.1   23.8
525599      0.0    0.0      0.0  977         0            0.0   24.1   23.8

        Comments
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
525595       NaN
525596       NaN
525597       NaN
525598       NaN
525599       NaN

[525600 rows x 19 columns]>

# Data preparation stage

In [11]:
# Subsetting the columns that i consider irrelevant to my analysis.
# Also re-assign the data_frame variable

df = data_frame[['Timestamp', 'GHI', 'DNI', 'DHI',
            'ModA', 'ModB', 
            'Tamb', 'RH', 'WS', 'WSgust', 'WSstdev','Cleaning','WD',
            #'WDstdev', 'BP', 'Comments',
            'Precipitation','TModA', 'TModB',]].copy()

In [12]:
# Checking the number of coulmns included.
df.columns

Index(['Timestamp', 'GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 'WS',
       'WSgust', 'WSstdev', 'Cleaning', 'WD', 'Precipitation', 'TModA',
       'TModB'],
      dtype='object')

In [13]:
# Overview of the data types.
df.dtypes

Timestamp         object
GHI              float64
DNI              float64
DHI              float64
ModA             float64
ModB             float64
Tamb             float64
RH               float64
WS               float64
WSgust           float64
WSstdev          float64
Cleaning           int64
WD               float64
Precipitation    float64
TModA            float64
TModB            float64
dtype: object

In [14]:
# The time stamp shouldn't be an object so i am going to convert it to a datetime coulmn.
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

In [15]:
# look for missing values.
df.isna().sum()
# All our metrics have no missing values.

Timestamp        0
GHI              0
DNI              0
DHI              0
ModA             0
ModB             0
Tamb             0
RH               0
WS               0
WSgust           0
WSstdev          0
Cleaning         0
WD               0
Precipitation    0
TModA            0
TModB            0
dtype: int64

In [16]:
# Look for duplicated values.
df.loc[df.duplicated()]
# None of our values are duplicated.

Empty DataFrame
Columns: [Timestamp, GHI, DNI, DHI, ModA, ModB, Tamb, RH, WS, WSgust, WSstdev, Cleaning, WD, Precipitation, TModA, TModB]
Index: []

## Descriptive statistics
First we are going to present a summary statistics.

In [17]:
# Summary statistics
df.describe()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,Cleaning,WD,Precipitation,TModA,TModB
count,525600,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000
mean,2022-04-25 12:00:30.000000768,230.555040,151.258469,116.444352,226.144375,219.568588,27.751788,55.013160,2.368093,3.229490,0.557740,0.000535,161.741845,0.001382,32.444403,33.543330
min,2021-10-25 00:01:00,-12.700000,0.000000,0.000000,0.000000,0.000000,14.900000,3.300000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.100000,13.100000
25%,2022-01-24 06:00:45,-2.200000,0.000000,0.000000,0.000000,0.000000,24.200000,26.500000,1.400000,1.900000,0.400000,0.000000,74.800000,0.000000,23.900000,23.600000
50%,2022-04-25 12:00:30,2.100000,0.000000,2.500000,4.400000,4.300000,27.200000,59.300000,2.200000,2.900000,0.500000,0.000000,199.100000,0.000000,28.400000,28.400000
75%,2022-07-25 18:00:15,442.400000,246.400000,215.700000,422.525000,411.000000,31.100000,80.800000,3.200000,4.400000,0.700000,0.000000,233.500000,0.000000,40.600000,43.000000
max,2022-10-25 00:00:00,1424.000000,1004.500000,805.700000,1380.000000,1367.000000,41.400000,99.800000,16.100000,23.100000,4.700000,1.000000,360.000000,2.300000,70.400000,94.600000
std,NaN,322.532347,250.956962,156.520714,317.346938,307.932510,4.758023,28.778732,1.462668,1.882565,0.268923,0.023116,91.877217,0.026350,10.998334,12.769277

After having a brief overview of the descriptive statistics we check for the existence of outliers. It can be implemented using two ways(IQR method and the Z-score method). I have chosen the Z-score method for the sake of convenience and due to the short deadline.

In [18]:
from scipy.stats import zscore  # Import the zscore function
# Ensure columns except 'Timestamp' are numeric
benin_df_numeric = df.drop('Timestamp', axis=1).apply(pd.to_numeric, errors='coerce')

# Set the Z-score threshold for identifying outliers
threshold = 3

# Iterate over each column in the DataFrame
for column in benin_df_numeric.columns:
    # Calculate Z-scores for the column
    z_scores = zscore(benin_df_numeric[column], nan_policy='omit')

    # Identify outliers where Z-scores are greater than the threshold
    outliers = np.abs(z_scores) > threshold
    
    # Calculate the median of the non-outlier values in the column
    column_median = benin_df_numeric.loc[~outliers, column].median()

    # Replace outliers with the column median
    benin_df_numeric.loc[outliers, column] = column_median

    print(f"Number of outliers in {column}: {outliers.sum()}")

# Update the original DataFrame with the modified values
df.update(benin_df_numeric)

# Recheck if there are any remaining outliers (optional step)
remaining_outliers = (np.abs(zscore(benin_df_numeric, nan_policy='omit')) > threshold).any(axis=1)
print(f"Number of remaining outliers after replacement: {remaining_outliers.sum()}")

Number of outliers in GHI: 305
Number of outliers in DNI: 1062
Number of outliers in DHI: 3415
Number of outliers in ModA: 137
Number of outliers in ModB: 206
Number of outliers in Tamb: 0
Number of outliers in RH: 0
Number of outliers in WS: 3510
Number of outliers in WSgust: 3915
Number of outliers in WSstdev: 5753
Number of outliers in Cleaning: 281
Number of outliers in WD: 0
Number of outliers in Precipitation: 3338
Number of outliers in TModA: 153
Number of outliers in TModB: 609
Number of remaining outliers after replacement: 7217

After the first attempt there are some outliers still left 
in some columns so in the next line of code we try to remove these remaining outliers.

In [19]:
# Selected columns for outlier removal
selected_columns = ['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WD']

# Ensure columns except 'Timestamp' are numeric
benin_df_numeric = df[selected_columns].apply(pd.to_numeric, errors='coerce')

# Set the Z-score threshold for identifying outliers
threshold = 3

# Iterate over each selected column in the DataFrame
for column in selected_columns:
    # Calculate Z-scores for the column
    z_scores = zscore(benin_df_numeric[column], nan_policy='omit')

    # Identify outliers where Z-scores are greater than the threshold
    outliers = np.abs(z_scores) > threshold
    
    # Calculate the median of the non-outlier values in the column
    column_median = benin_df_numeric.loc[~outliers, column].median()

    # Replace outliers with the column median
    benin_df_numeric.loc[outliers, column] = column_median

    print(f"Number of outliers in {column}: {outliers.sum()}")

# Update the original DataFrame with the modified values
df.update(benin_df_numeric)

# Recheck if there are any remaining outliers (optional step)
remaining_outliers = (np.abs(zscore(benin_df_numeric, nan_policy='omit')) > threshold).any(axis=1)
print(f"Number of remaining outliers after replacement: {remaining_outliers.sum()}")

Number of outliers in GHI: 17
Number of outliers in DNI: 268
Number of outliers in DHI: 1540
Number of outliers in ModA: 3
Number of outliers in ModB: 5
Number of outliers in WD: 0
Number of remaining outliers after replacement: 764

In the next line of code we are going to change on the values after removing the outliers.

In [20]:
# Statistical check for outliers using the summary statistics.
df.describe()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,Cleaning,WD,Precipitation,TModA,TModB
count,525600,525600.000000,525600.00000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.0,525600.000000,525600.0,525600.000000,525600.000000
mean,2022-04-25 12:00:30.000000768,229.793238,148.91030,110.722169,225.820398,219.093516,27.751788,55.013160,2.330341,3.173601,0.545632,0.0,161.741845,0.0,32.433174,33.485223
min,2021-10-25 00:01:00,-12.700000,0.00000,0.000000,0.000000,0.000000,14.900000,3.300000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,13.100000,13.100000
25%,2022-01-24 06:00:45,-2.200000,0.00000,0.000000,0.000000,0.000000,24.200000,26.500000,1.400000,1.900000,0.400000,0.0,74.800000,0.0,23.900000,23.600000
50%,2022-04-25 12:00:30,2.000000,0.00000,1.800000,4.300000,4.200000,27.200000,59.300000,2.200000,2.900000,0.500000,0.0,199.100000,0.0,28.400000,28.400000
75%,2022-07-25 18:00:15,441.025000,240.10000,207.700000,421.900000,410.100000,31.100000,80.800000,3.200000,4.300000,0.700000,0.0,233.500000,0.0,40.600000,42.900000
max,2022-10-25 00:00:00,1194.000000,895.00000,566.200000,1176.000000,1141.000000,41.400000,99.800000,6.700000,8.800000,1.300000,0.0,360.000000,0.0,65.400000,71.800000
std,NaN,321.599395,247.99911,149.312322,316.951351,307.349758,4.758023,28.778732,1.388202,1.770451,0.243415,0.0,91.877217,0.0,10.982731,12.676540